html{
    font-family: 'Nunito', sans-serif;
}
 .myBoton{
 	border: 0 !important;

 }   
.firstImg{
	background-image: url(../images/taxi.jpg);
	height: 100vh;
	background-size: cover;
	background-position: bottom;
	margin:0;
	z-index: -200;
	padding-top: 3em;
}
.primaryTitles{
	margin-bottom: 3em;
}
.primaryTitles h4,.areaBoxMap h4{
	font-weight: 600;
	line-height: .8em;
}
.primaryTitles h1{
	font-weight: 700;
	line-height: .8em;
}
.travel{
	font-weight: 600;
	padding-bottom: 2em;
}

.travel img{

	padding-left: .2em;
	vertical-align: -10px;

}
.lines{
	margin: 2em 0 3em ;

}
.lines::after{
    content:"";
    border-bottom: 1px solid white;
    padding: 0 5em;
     margin-left: 3em;

}
 .lines::before{
    content:"";
    border-bottom: 1px solid white;
    padding: 0 5em;
    margin-right: 3em;
    margin-left: 1.5em;
}
.myOwnBorder, .myOwnBorderMovile{
	border: 1px solid white;
}
.myOwnBorder img{
	padding: 2em;
	width: 90%;
	
}
.myOwnBorderMovile img{
	width: 50%;
}
.myOwnBorderMovile h4{
	font-weight: 700;
}
.aParagraf{
	margin: 4em;

}
h5 {
	font-weight: 700;
	line-height: .7em;
}
.secondImg{
	background-image: url(../images/conduce.jpg);
	height: 100vh;
	background-size: cover;
	background-position: bottom;
	margin:0;
	z-index: -200;
}
.secondImgMovile{
	background-image: url(../images/conduce.jpg);
	height: 50vh;
	background-size: cover;
	background-position: bottom;
	margin:0;
	z-index: -200;
}

.areaBox{

	padding:2em !important;
	padding-top: 4em !important;
}
.areaBoxMap{
	padding-top:3em !important;
	padding-bottom:3em !important;
	padding-left: .5em  !important;
}

.areaBoxMovile{
	padding: 2em !important;
	padding-bottom:6.3em !important;
	padding-top: 3em !important;

}
.opacity {
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

}
.lines::after{
    content:"";
    border-bottom: 1px solid white;
    padding: 0 5em;
     margin-left: 3em;

}
 .lines::before{
    content:"";
    border-bottom: 1px solid white;
    padding: 0 5em;
    margin-right: 3em;
    margin-left: 1.5em;
}
.falseInput{
	border: 1px solid white ;
	background-color: transparent ;
	border-radius: .5em ;
	padding: .5em 6em .5em 1em;
	margin-left: 1em;
	font-size: .8em;
}
.falseInputTow{
	border: 1px solid white ;
	background-color: transparent ;
	border-radius: .5em ;
	padding: .5em 10em .5em 1em;
	margin-left: 1em;
	font-size: .8em;
}
.falseInputMovile{
	border: 1px solid white ;
	background-color: transparent ;
	border-radius: .5em ;
	padding: .5em 6em .5em 1em;
	margin-left: 1em;
	font-size: 1.5em;
}
.falseInputTowMovile{
	border: 1px solid white ;
	background-color: transparent ;
	border-radius: .5em ;
	padding: .5em 10em .5em 1em;
	margin-left: 1em;
	font-size: 1.5em;
}
.makeRoute a{
	margin-left: 4em;
	font-weight: 900;
}
.makeRoute a p{
	font-weight: 900;
	font-size: 1.5em;
	margin:0;
}
.makeRouteMovile a p{
	font-weight: 900;
	font-size: 1.3em;
	margin:0;

}
.marginHere{
	margin-bottom: 2em;

}
.myOwnBorderIframe{
	outline: 1px solid white;
	padding: 1em !important;
	margin-top: 1em;
}

.areaBoxFooter{
	padding:5em !important;
	padding-bottom:0 !important;
}
.giveMePadding{
	margin-top: 20em;
}
.giveMePaddingIcon{
	width: 70%;
	margin-top: 13em;
	margin-bottom:0;
}
.giveMePaddingIcon img{
	width: 70%;
	margin-top: 1em;
}
.linksLi ul li{
	padding: .5em;
}
.giveMePadIcon i{
	padding-right: 1em;
}
.giveMePadIcon img{
	width: 50%;
	margin-top: 2em;
}